<section class="augments">
  <header>
    <h3>{{localize "PF1-Psionics.Augments"}}</h3>
  </header>

  <div class="augment-list">
    {{#each augments}}
      <div class="augment-option" data-augment-id="{{this._id}}" {{#if this.description}}title="{{this.description}}"{{/if}}>
        <div class="augment-header">
          <div class="augment-info">
            <span class="augment-name">{{this.name}}</span>
            <span class="augment-cost">({{this.cost}} PP each)</span>
            {{#if this.maxUses}}
              <span class="augment-limit">(max {{this.maxUses}}×)</span>
            {{/if}}
          </div>
          <div class="augment-controls">
            <button type="button" class="augment-adjust" data-augment-id="{{this._id}}" data-action="decrease" title="{{localize 'PF1-Psionics.DecreaseAugment'}}">
              <i class="fas fa-minus"></i>
            </button>
            <input type="number"
                   class="augment-count"
                   name="augment-{{this._id}}"
                   value="0"
                   min="0"
                   {{#if this.maxUses}}max="{{this.maxUses}}"{{/if}}
                   data-augment-id="{{this._id}}"
                   data-cost="{{this.cost}}"
                   {{#if this.requiresFocus}}data-requires-focus="true"{{/if}}
                   {{#if this.maxUses}}data-max-uses="{{this.maxUses}}"{{/if}}
                   readonly>
            <button type="button" class="augment-adjust" data-augment-id="{{this._id}}" data-action="increase" title="{{localize 'PF1-Psionics.IncreaseAugment'}}">
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </div>

        {{#if this.conditions.requiresCondition}}
          <div class="augment-condition">
            <em>{{this.conditions.requiresCondition}}</em>
          </div>
        {{/if}}

        {{#if this.effects.special}}
          <div class="augment-special">
            {{this.effects.special}}
          </div>
        {{/if}}
      </div>
    {{/each}}
  </div>
</section>

