{{!-- Inline Energy Effect --}}
{{#*inline "listEnergyEffect"}}
<li class="energy-effect-group" data-energy-type="{{type}}">
  <div class="energy-effect-item item flexrow">
    <div class="item-name">
      <div class="energy-icon {{type}}-icon"></div>
      <h4>{{label}}</h4>
    </div>

    <div class="item-detail energy-damage">
      <input type="number" name="system.energyEffects.{{type}}.damage" value="{{#if (ne damage null)}}{{damage}}{{/if}}" placeholder="0" step="1" data-tooltip="PF1-Psionics.EnergyEffects.DamagePerDieHint">
    </div>

    <div class="energy-controls item-controls">
      {{!-- Empty placeholder for alignment --}}
    </div>
  </div>

  {{!-- Notes section directly below this energy type --}}
  <div class="card-notes energy-notes" data-tooltip="PF1-Psionics.EnergyEffects.NotesHint">
    <div class="header">
      <label>{{label}} {{localize "PF1-Psionics.EnergyEffects.Notes"}}</label>
      <div class="header controls">
        <a class="add-note" data-energy-type="{{type}}"><i class="fa-solid fa-plus fa-fw" inert></i> {{localize "PF1-Psionics.EnergyEffects.AddNote"}}</a>
      </div>
    </div>

    <ul class="note-list">
      {{#each notes}}
      <li class="note" data-index="{{@index}}">
        <input type="text" value="{{this}}" name="system.energyEffects.{{../type}}.notes.{{@index}}" placeholder="{{localize 'PF1-Psionics.EnergyEffects.NotePlaceholder'}}">
        <div class="controls entry" data-index="{{@index}}">
          <a class="delete-note" data-energy-type="{{../type}}" data-index="{{@index}}" data-tooltip="PF1.Delete"><i class="fa-solid fa-minus fa-fw" inert></i></a>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</li>
{{/inline}}

{{!-- Energy Effects --}}
<div class="energy-effects">
  <div class="energy-effects-header flexrow">
    <h3>{{localize "PF1-Psionics.EnergyEffects.Title"}}</h3>
    <label class="checkbox">
      <input type="checkbox" class="toggle-energy-effects" {{checked showEnergyEffects}}>
      {{localize "PF1-Psionics.EnergyEffects.UseEnergyEffects"}}
    </label>
  </div>

  {{#if showEnergyEffects}}
  <ol class="item-list energy-effects-list">
    {{!-- Header --}}
    <li class="item-list-header flexrow">
      <div class="item-name">
        <h3>{{localize "PF1-Psionics.EnergyEffects.EnergyType"}}</h3>
      </div>

      <div class="item-detail energy-damage">
        <span data-tooltip="PF1-Psionics.EnergyEffects.DamagePerDieHint">{{localize "PF1-Psionics.EnergyEffects.DamagePerDie"}}</span>
      </div>

      <div class="energy-controls item-controls"></div>
    </li>

    {{!-- Energy effects list with notes below each --}}
    <ol class="item-list">
      {{#each energyTypes}}
        {{> listEnergyEffect type=type label=label damage=damage notes=notes}}
      {{/each}}
    </ol>
  </ol>
  {{/if}}
</div>
